@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rajdhani&display=swap');

:root {
    box-sizing: border-box;
    --accent: #6366f1;
    --background: #edf1f5;
    --light: #fefefe;
    --highlight: #a5b4fc;
    --header: #334155;
    --shadow: 3px 3px 5px 0px #64748b61;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--background);
    overflow-y: hidden;
}

.projects-sidebar {
    background-color: var(--light);
    padding: 20px 15px 0 30px;
    min-width: 250px;
    width: 350px;
    box-shadow: var(--shadow);
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.projects-sidebar li {
    padding: 10px;
    margin: 3px;
    margin-right: 20px;
}

.projects-sidebar li:hover, .active{
    background-color: var(--accent);
    color: var(--light);
    border-radius: 5px;
}

.projects-sidebar li:hover {
    background-color: #dbeafe;
    color: #000;
}

.projects-sidebar i {
    padding-right: 5px;
}

/*TO DO CONTAINER */
.todo-container {
    width: 80%;
    padding: 0 5%;
}

.todo-container input {
    font-size: 17px;
    border: none;
}

/* TO DO FORM */
.addtodo {
    background-color: var(--light);
    padding: 20px 40px 50px 40px;
    margin-top: 30px;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.addtodo form {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.addtodo input {
    background-color: var(--background);
    border-radius: 5px;
    padding: 10px;
    width: 40%;
}

.date-input {
    padding: 1px;
}

.addtodo button {
    width: 38px;
    background-color: var(--accent);
    border: none;
    border-radius: 6px;
    color: var(--light);
    padding: 10px;
}

.addtodo button:hover, .todolist button:hover {
    background-color: #5254d3;;
}

/* TO DO LIST*/
.todolist {
    margin-top: 40px;
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.todolist li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    gap: 10px;
    height: 50px;
    border-bottom: 1px solid #cbd5e1;
}

.todolist input {
    height: 40px;
    padding: 0 30px;
}

.todolist button {
    background-color: var(--accent);
    padding: 10px;
    border: none;
    color: var(--light);
    border-radius: 5px;
}

.pending .status {
    background-color: #fb7185;
}

.pending .status:hover {
    background-color: #fc5c74;
}

.complete .status {
    background-color: #34d399;
}

.complete .status:hover {
    background-color: #1fc085;
}

.complete {
    text-decoration:line-through;
}

.todolist .task {
    flex-grow: 2;
}

.fa-regular {
    pointer-events: none;
}

